html {
    background-image: url(../images/background.webp);
}

.superParent {
    position: relative;
    border: yellow solid 1px;
}

.layout {
    border: red solid 1px;
    background-color: white;
    overflow: hidden;
}

.layout div{
    border: green solid 1px;
}

.layout div.special {
   clear: right;
}

.row {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.col {
    float: left;
    
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
}

.col_1 {
    width: 8.33333%;
}
.col_2 {
    width: 16.6666%;
}
.col_3 {
    width: 8.33333%;
}
.col_4 {
    width: 8.33333%;
}
.col_5 {
    width: 8.33333%;
}
.col_6 {
    width: 8.33333%;
}


.col_space_1 {
    margin-left: 8.33333%;
}
.col_space_2 {
    margin-left: 16.6666%;
}
.col_space_3 {
    margin-left: 8.33333%;
}
.col_space_4 {
    margin-left: 8.33333%;
}
.col_space_5 {
    margin-left: 8.33333%;
}
.col_space_6 {
    margin-left: 8.33333%;
}
